.header-bg{
  background-image: url(../../img/header2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.header-text{
  color: #eee;
  font-size: 45px;
  font-family: 'Titillium Web', sans-serif;
}

.lyrics-section-a{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 1em; 
  padding:3rem;
  justify-content: center;
  line-height: 2;
}

.back-button{
  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  color: #eee;
}

.back-button:hover{
  background: var(--secondary-color);
  cursor: pointer;
}

.back-button:focus{
  outline: none;
}