.lyrics-section-a{
  display: grid;
  grid-template-columns: 30% 50%;
  grid-column-gap: 1em; 
  padding:3rem;
  justify-content: center;
  line-height: 2;
}

.back-button{
  margin-top: 2rem;
  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  color: #eee;
}

.back-button .fas{
  padding-right: 10px;
}

.back-button:hover{
  background: var(--secondary-color);
  cursor: pointer;
}

.back-button:focus{
  outline: none;
}